:root{
  --ff-md: 2rem;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  text-decoration: none;
  list-style: none;
}
::-webkit-scrollbar{
  display: none;
}

.nav{
  display: none;
  position: fixed;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  top:0;
  padding: 2rem 2rem ;  
  transition: top 0.3s cubic-bezier(.25,1.08,.68,.98);
  z-index:11;
}
.logo{
  position: relative;
  left:0;
  display: flex;
  flex-wrap: nowrap;
  font-family: "Cooper Lt BT Light";
  font-weight: 500;
  font-size: clamp(1.5rem, 2vw, 2rem);
}
menu{
  display: none;
  position: fixed;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  top:0;
  padding: 2rem 2rem ;  
  transition: top 0.3s cubic-bezier(.25,1.08,.68,.98);
  z-index:11;
}
.dot{
  position: absolute;
  background-color: #00eb8f;
  width: 8px;
  right: -15px;
  bottom: 5px;
  height: 8px;
  border-radius: 100px;
}

.navitems{
  
  display: flex;
  flex: 1;
  margin-right: 3rem;
  gap: clamp(1rem, 4vw, 3.5rem);
}
.navitem a{
  color: black;
}

#navright{
  display: flex;
  right:0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navitem{
  font-size: 1rem;
  position: relative;
  transition: transform 300ms cubic-bezier(.25,1.08,.68,.98);
}

.navitem:after{
  content: '';
  position: absolute;
  left: 0;
  bottom:-4px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: #00eb8f;
  transform-origin: right;
  transition: transform 250ms cubic-bezier(.25,1.08,.68,.98);
  transition-delay: 0.1s;
}
.navitem:hover::after{
  transform: scaleX(1);
  transform-origin: left ;
}

#navright button{
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 30px;
  font-family: 'Inter';
  color: black;
  background-color: white;
  font-size: 1rem;
  padding: 10px 30px;
  z-index: 1;
}

#navright button::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #00eb8f;
  top: 0;
  left:0;
  z-index: -1;
  transition: width 600ms cubic-bezier(.25,1.08,.68,.98);
}
#navright button:hover::after{
  width: 100%;
}
#section-1{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2em 0;
 
}
#section-1 img{
  transition: margin 0.4s ease-in-out;
  margin: 2rem 
}

.middiv{
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#img1{
  position: absolute;
  height: clamp(35vw, 30rem, 25rem);
  left: 6vw;
  top: auto;
}
#img2{
  position: absolute;
  height: clamp(13vw, 10rem, 10rem);
  right: 12%;
  top: 10%;
}
#img3{
  position: absolute;
  bottom: 0;
  right: 0;
  height: clamp(15vw, 15rem, 15rem);
}

.middiv h1{
  font-family: "Cooper Lt BT Light";
  font-size: max(4.9vw, 2rem);
  font-weight: 100;
  width: 50vw;
  position: relative;
  z-index: 10;
}
.middiv h1::after{
  content: '';
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
  left:30%;
  bottom: -5px;
  width: 40%;
  height: 15px;
  position: absolute;
}
.middiv p{
  font-size: clamp(1.3vw, 1.5rem, 1rem);
  font-weight: 500;
  margin-top: 3.5rem;
  z-index: 10;
  position: relative;
}

.arrow-btn{
  cursor: pointer;
  height: 2rem;
  width: 4rem;
  border: 1px solid gray;
  border-radius: 30px;
  background-color: transparent;
  position: relative;
  margin-left: 0.5rem;
  overflow: hidden;
}
.arrow-btn::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #00eb8f;
  top: 0;
  left:0;
  z-index: -1;
  transition: width 400ms ease-in-out;  
}

.arrow-btn:hover::after{
  width: 100%;
}

#section-2{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-block: clamp(5rem, 5vw,8rem);
  padding-inline: 3rem; 
  gap: 2rem;
  background-color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
#section-2 h2, #section-2 h1{
  color: white;
  font-family: "Cooper Lt BT Light";
}
#section-2 a{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;

}
#section-2 .dot{
  left:-4%;
  top: 0.2vw;
  width: clamp(0.5rem, 0.7vw, 1rem);
  height: clamp(0.5rem, 0.7vw, 1rem);
}
#section-2 h2{
  font-family: 'Inter';
  font-weight: 400;
  font-size: clamp(0.8rem, 0.9vw, 1.5rem);
}
#section-2 h1{
  max-width: 55rem;
  
  font-size: clamp(1.5rem, 2.3vw, 3rem);
  font-weight: 400;
  line-height: clamp(2rem, 3vw, 5rem);
}

.about-us-btn{
  cursor: pointer;
  height: 2rem;
  width: 4rem;
  color: white;
  border: 1px solid gray;
  border-radius: 30px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.about-us-btn::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #00eb8f;
  top: 0;
  left:0;
  z-index: 0;
  transition: width 400ms ease-in-out;  
}

#about-us{
  display: flex;
  gap: 15px;
  font-size: clamp(0.8rem, 1.3vw, 2rem);
  margin-top: 30px;
  align-items: center; 
}
#about-us a{
  font-size: clamp(1.3vw, 1.5rem, 1rem);
}
.about-us-btn:hover::after{
  width: 100%;
}
.about-us-btn i{
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
}

#different{
  position: relative;
}
#different::after{
  position: absolute;
  content: '';
  width: 110%;
  height: 135%;
  background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
  top: -10px;
  left: -10px; 
}


#section-3{
  display: flex;
  position: relative;
  padding-block: 4rem;
  
}
#section-3-left{
  width: 55vw;
  display: flex;
  gap:31px;
}
#section-3-left-left{
  display: flex;
  flex-direction: column;
  position: relative;
  width: clamp(1rem, 15vw, 12rem);
  gap: 31px;
  
}
#section-3-left-right{
  display: flex;
  flex-direction: column;
  position: relative;
  width: clamp(1rem, 80vh, 40rem);
  
  gap: 31px;
}

#rtop{
  width: 70%;
}
#rbottom{
  width: 93%;
}

#section-3-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  gap: 20px;
  padding-left: 20px;
}

#section-3-heading{
  font-family: 'Cooper Lt BT Light';
  font-weight: 100;
  font-size: clamp(2rem, 4vw, 4rem);
  width: 38vw;
  opacity: 0;
  transform: translateY(100px);
  transition: transform  500ms cubic-bezier(.39,.01,.55,.98), opacity 500ms cubic-bezier(.39,.01,.55,.98);
}

#section-3-right h3{
  font-size:clamp(1rem, 1vw, 2rem);
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 35px;
  width: 80%;
  font-size: 18px;
  opacity: 0;
  transform: translateY(100px);
  transition: transform  400ms cubic-bezier(.39,.01,.55,.98), opacity 400ms cubic-bezier(.39,.01,.55,.98);
}

#learn-more{
  display: flex;
  align-items: center;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(100px);
  transition: transform  500ms cubic-bezier(.39,.01,.55,.98), opacity 500ms cubic-bezier(.39,.01,.55,.98);
}
#learn-more img{
  height: 50px;
  background-color: rgb(221, 237, 241);
  border-radius: 50%; 
}
#learn-more p{
  
  font-size: clamp(1rem, 1.3vw, 2rem);
  letter-spacing: -1px;
  margin-inline: 10px;
  
}
#learn-more button{
  cursor: pointer;
  height: 2.5rem;
  font-size: 16px;
  width: 10rem;
  color: rgb(33, 33, 33);
  margin-left: 10px;
  border: 1px solid gray;
  border-radius: 30px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: width 400ms ease-in-out; 
}
#learn-more button::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #00eb8f;
  top: 0;
  left:0;
  z-index: -1;
  transition: width 400ms ease-in-out;  
}
#learn-more button:hover::after{
  width: 100%;
}

#solution{
  position: relative;
  font-family: "Cooper Lt Bt Light";
}
#solution::after{
  content:'';
  bottom: -5px;
  left:0;
  position: absolute;
  width: 100%;
  height: 25%;
  background-image:url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
}

#section-4{
  display: flex;
  position: relative;
  padding: 50px 0px;
  flex-direction: column;
  align-items: center;
}
#section-4-heading{
  font-family: 'Cooper Lt Bt Light';
  font-weight: 100;
  width: clamp(52rem, 35vw, 61rem);
  text-align: center;
  font-size: clamp(1rem, 3.5vw, 3rem);
  opacity: 0;
  transform: translateY(100px);
  transition: transform  700ms cubic-bezier(.39,.01,.55,.98), opacity 500ms cubic-bezier(.39,.01,.55,.98);
}
#section-4-heading span{
  position: relative;
  font-family: 'Cooper Lt Bt Light';
  font-weight: 100;
}
#section-4-heading span::after{
  content: '';
  position: absolute;
  background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
  left: -11px;
  bottom: -5px;
  width: 120%;
  height: 120%;

}
#brand-logos{  
  display: flex;
  width: 100%;
  padding-inline:clamp(1rem, 2rem, 6rem);
  padding-block: 100px;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(4rem, 6vw, 15rem);
  position: relative;

  opacity: 0;
  transition:opacity 500ms cubic-bezier(.39,.01,.55,.98);
}
#brand-logos img{
  width:clamp(4rem, 30vw, 9rem);
}

#section5{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
}
#section5-cards{
  position: relative;
  gap: 40px;
  justify-content: center;
  display: flex;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 300ms ease-in, transform 400ms ease-in-out;
}
.section5-individual-card:before{
  width: 100%;
  height: 100%;
  background-color: #00eb8f;
}
.section5-individual-card{
  width: clamp(5rem, 45vw, 40rem);
  height: clamp(15rem, 30vw, 25rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  padding-block: clamp(1rem, 2vw, 2rem);
  padding-inline: clamp(1rem, 2vw, 2.5rem);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.section5-individual-card::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, white); 
  z-index: -2;
}
.card-logo{
  width: clamp(1rem, 25vw, 9rem);
  margin-top: 1rem;
  object-fit: cover;
  top: clamp(1rem, 1vw,1.2rem);
}

.section5-individual-card h1{
  font-family: 'Cooper Lt Bt Light';
  color: white;
  font-size: clamp(1.125rem, 2vw, 2.3rem);
  font-weight: 100;
}
#case-study{
  display: flex;
  color: white;
  align-items: center;
  letter-spacing: clamp(-1px, 1vw, -2px);
  font-weight: 500;
  gap: 10px;
  margin: 10px 0px 0px 0px;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
}
#card-arrow-btn{
  cursor: pointer;
  height: clamp(1.8rem, 2vw,2.2rem);
  font-size: 16px;
  width: clamp(3.5rem, 5vw, 4.5rem);
  color: rgb(255, 255, 255);
  margin-left: 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 30px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: width 450ms ease-in-out; 
}
.card-btn-overlay{
  position: absolute;
  left:0;
  top:0;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: #00eb8f;
  transition: width 400ms ease;
}

.background-image{
  height: 100%;
  width: 100%;
  mix-blend-mode: multiply;
  z-index: -1;
  object-fit: cover;
  top:0;
  left: 0;
  position: absolute;
  transition: transform 400ms ease;
}

#card-2-logo{
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(238deg) brightness(118%) contrast(102%);
}

#section5-seemore{
  display: flex;
  align-items: center;
  margin-top: 5rem;  
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
#section5-seemore img{
  height: clamp(2.5rem, 1.4vw, 50px);
  background-color: rgb(221, 237, 241);
  border-radius: 50%; 
}
#section5-seemore p{
  
  font-size: clamp(1rem, 1.3vw, 2rem);
  letter-spacing: -1px;
  margin-inline: 10px; 
}
#section5-seemore button{
  cursor: pointer;
  height: 2.5rem;
  font-size: 16px;
  width: 8rem;
  color: rgb(33, 33, 33);
  margin-left: 10px;
  border: 1px solid gray;
  border-radius: 30px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: width 400ms ease-in-out; 
}
#section5-seemore button i{
  margin-left: 8px;
}
#section5-seemore button::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #00eb8f;
  top: 0;
  left:0;
  z-index: -1;
  transition: width 400ms ease-in-out;  
}
#section5-seemore button:hover::after{
  width:100%;
}

#section6{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.swiper {
  width: 100%;
  opacity: 0;
  transform: translateY(100px);
  transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;

}

.swiper-slide{
  cursor: pointer;
  padding: 40px;
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: end;
  flex-direction: column;
  background-color: white;
  position: relative;
}

.slide-icon{
  width: 25%;
  height: 60px;
  object-fit: contain;
  top: 0;
}
.slide-review{
  margin-top: 20px;
  font-family: 'Cooper Lt Bt Light';
  font-size: clamp(2rem, 2.5vw, 3rem);
}
.reviewer-position{
  position: relative;
 font-size: 1.125rem;
 font-weight: 400;
 letter-spacing: -0.7px;
 margin: 40px 0 5px 0;
}
.reviewer-position::after{
  content:'';
  position: absolute;
  left: -30px;
  top: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #00eb8f;
}

.slide-wrapper{
  height:100%;
  width:100%;
  
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: end;
  flex-direction: column;
  background-color: white;
  position: relative;
}
.reviewer-name{
  color: gray;
  font-size: 1.13rem;
}

.swiper-pagination{
 padding-bottom: 2rem;
  position: absolute;
}

.swiper-pagination .swiper-pagination-bullet-active{
  background-color: #00eb8f;
  
}
.swiper-pagination span{
  height: 0.7rem;
  width: 0.7rem;
 
}

.section7{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  background-color: black;
  
}

.contact-details{
  display: flex;
  width: clamp(10rem, 60vw, 80rem);
  height: clamp(10rem, 30vw, 25rem);
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: transform 400ms cubic-bezier(.39,.01,.55,.98);
}
#contact-details-background-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  
}
.contact-details::after{
  content: '';
  opacity: 0.5;
  background-color: black;
  height: 100%;
  width: 100%;
  left:0;
  position: absolute;
  
}
#contact-details-para{
  font-family: 'Cooper Lt Bt Light';
  font-size: clamp(1rem, 2.5vw, 1.9rem);
  color: white;
  width: 80%;
  top:20%;
  z-index: 1;
  position: absolute;
} 
#contact-details-para span{
  font-family: 'Cooper Lt Bt Light';
  position: relative;
}
#contact-details-para span::after{
  content: '';
  width: 105%;
  height: 0.6rem;
  position: absolute;
  bottom: -5px;
  left:0;
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
}
.section7-request-callback{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: clamp(5rem, 10vw, 10rem); 
  opacity: 1;
  transition: opacity 400ms ease-in-out;
  z-index: 3;
}

.section7-request-callback img{
  height: 50px;
  width: 50px;
  background-color: rgb(221, 237, 241);
  border-radius: 50%; 
}
.section7-request-callback p{
  color: white;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  letter-spacing: -1px;
  margin-inline: 10px; 
}
.section7-request-callback button{
  cursor: pointer;
  height: 2.5rem;
  font-size: 16px;
  width: clamp(8rem, 20vw,15rem);
  color: rgb(255, 255, 255);
  margin-left: 10px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 30px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: width 400ms ease-in-out; 
}
.section7-request-callback button i{
  margin-left: 8px;
}
.section7-request-callback button::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #00eb8f;
  top: 0;
  left:0;
  z-index: -1;
  transition: width 400ms ease-in-out;  
}
.section7-request-callback button:hover::after{
  width:100%;
}
.footer-items{
  width:100%;
  display: flex;
  padding-inline: 3rem;
}
.footer-nav{
  display: flex;
  justify-content: space-around;

}
.footer-letstalk{
  display: flex;
  flex-direction: column;
  width: 30%;
  opacity: 0;
  transform: translateY(4rem);
  transition: opacity 500ms ease-in-out, transform 650ms ease-in-out;
}
.footer-letstalk p {
  font-family: 'Cooper Lt Bt Light';
  color: white;
  font-size: clamp(1rem, 3vw, 3rem);
}
.footer-letstalk p span{
  font-family: inherit;
  position: relative;
}
.footer-letstalk p span::after{
  position: absolute;
  content:'';
  width: 120%;
  height: 120%;
  top:-5px;
  left: -18px;
  background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
}
.letstalk-btn{
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.letstalk-btn button{
  cursor: pointer;
  height: 2.2rem;
  font-size: 16px;
  width: 5rem;
  color: rgb(255, 255, 255);
  margin-left: 10px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 30px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: width 400ms ease-in-out; 
}
.letstalk-btn button i{
  z-index: 1;
  position: relative;
}
.letstalk-btn button::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #00eb8f;
  top: 0;
  left:0;
  z-index: 0;
  transition: width 400ms ease-in-out;  
}
.letstalk-btn button:hover::after{
  width:100%;
}

.letstalk-btn p{
  font-family: 'Inter';
  font-size:  clamp(1rem, 1.3vw, 2rem);
  font-weight: 500;
}
.footer-learn, .footer-explore, .footer-findus, .footer-partners{
  width: clamp(5rem, 13vw, 20rem);
  display: flex;
  opacity: 0;
  transform: translateY(4rem);
  transition: opacity 500ms ease-in-out, transform 650ms ease-in-out;
  flex-direction: column;
}
.footer-partners-horizontal{
  width: 80%;
  display: none;
  opacity: 0;
  align-items: start;
  justify-content: space-between;
  
  transform: translateY(4rem);
  transition: opacity 500ms ease-in-out, transform 650ms ease-in-out;
}
.footer-partners-horizontal img{
  width: clamp(5rem, 5vw, 4rem);
  margin-top: 1.5rem;

}
.footer-learn h2, .footer-explore h2, .footer-findus h2{
  text-decoration: none;
  color: white;
  font-size: clamp(1rem, 1.5vw,1.5rem);
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.footer-learn a, .footer-explore a, .footer-findus p{
  text-decoration: none;
  color: lightgray;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  font-weight: 400;
  line-height: 2rem;
  position: relative;
 
}
.footer-learn a::after, .footer-explore a::after{
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #00eb8f;
  z-index: 1;
  transition: width 200ms ease-in-out;
}
.footer-learn a:hover::after, .footer-explore a:hover::after{
  width: 40%;

}
.footer-partners img{
  width: clamp(5rem, 5vw, 4rem);
  margin-top: 1.5rem;
  align-self: center;
}

.license-info{
  display: flex;
  
  margin-top: 4rem;
  border-top: 1px solid rgb(146, 146, 146);
  justify-content: space-between;
  width: 80%;
  align-items: center;
}
.footer-bottom-right{
  display: flex;
  align-items: end;
  gap: clamp(2rem, 3vw, 3rem)
}
.footer-logo{
  width: 10rem;
  font-family: 'Cooper Lt Bt Light';
  flex-wrap: nowrap;
  font-size: clamp(1rem,2vw, 1.5rem);
  color: white;
}
.footer-logo span{
  font-family: inherit;
  color: #00eb8f;
}

.license-info a{
  color: lightgray;
  text-decoration: none;
}
.license-info a{
  font-size: 0.8rem;
}
#copyright {
 
  color: lightgray;
}
.footer-bottom-text{
  font-size: clamp(0.8rem, 2vw, 0.8rem);
  color: lightgray;
}
.footer-bottom-text a{
  position: relative;
}
.footer-bottom-text a::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: #00eb8f;
  z-index: 1;
  transition: font-weight 300ms ease-in-out, color 300ms ease-in-out;
}
.footer-bottom-text a:hover{
  font-weight: 500;
  color: white;
}

.footer-social-links{
  display: flex;
  width: 4rem;
  align-items: center;
  justify-content: space-around;
}
.footer-social-links a i{
  font-size: 1rem;
}

.footer-social-links a{
  transition: color 300ms ease-in-out;
  position: relative;
}
.footer-social-links a:hover{
  color: white;
}
.footer-social-links a:hover::after{
  width: 100%
}
.footer-social-links a::after{
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: #00eb8f;
  z-index: 1;
  transition: width 200ms ease-in-out;
}


@media (min-width:1024px){
  .nav{
    display: flex;
  }
}
@media (max-width: 1024px){
  .footer-items{
    flex-direction: column-reverse; 
    align-items: center;
    text-align: center;
    gap: 3rem;
  }
  .letstalk-btn{
    flex-direction: column; 
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
  .footer-letstalk{
    width: 100%;
  }
}
@media (max-width:900px){
  #img1{
    left:0;    
  }
  
  .footer-logo{
    display: none;
  }
  #copyright{
    margin-left: 0;
  }
}

@media (max-width:768px){
  #img1, #img2, #img3{
    display: none;
  }

  #section-3{
    flex-direction: column;
    gap: 3rem;
  }
  #section-3-left{
    width: 80%;
  }
  #section-3-left-left{
    width: 25%;
  }
  #section-3-right{
    width: 100%;
  }
  #section-3-heading{
    width: 80%;
  }

  #section-3-paragraph{
    font-size: clamp(1rem, 1vw, 1.25rem);
  }

  #section-4-heading{
    width: 95%;
    font-size: clamp(1.8rem, 4vw, 4rem);
  }
  #brand-logos{
    width: 95%;
    padding-inline: 1rem;
  }
  #section5-cards{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .section5-individual-card{
    width: clamp(5rem, 80vw, 40rem);
    height: clamp(12rem, 40vw, 25rem);
    
  }
  
  #section5-seemore{

    width: 80%;

    margin-top: 2rem; 
  }

  

  .slide-review{
    font-size: clamp(1.5rem, 7vw, 4.5rem);
  }
  .reviewer-name, .reviewer-position{
    font-size: clamp(0.8rem, 2vw, 2rem)
  }

  #section7{
    margin-top: 1rem;
  }
  .contact-details{
    width: clamp(18rem, 80vw, 80rem);
  }
  #contact-details-para{
    width: 90%;
  }
  .section7-request-callback img{
    height: clamp(1rem, 8vw, 6rem);
    width: clamp(1rem, 8vw, 6rem);
  }
  .section7-request-callback p{
    
    font-size: clamp(0.7rem, 2vw, 3rem);
  }
  .section7-request-callback button{
    font-size: clamp(0.6rem, 2vw, 3rem);
    height: 2rem;
  }
  .footer-learn, .footer-explore, .footer-findus{
    width: clamp(2rem, 25vw, 8rem);
  }
  .footer-learn h2, .footer-explore h2, .footer-findus h2{
    font-size: clamp(0.9rem, 2vw, 1.125rem);
  }
  .footer-learn a, .footer-explore a, .footer-findus p{
    font-size: clamp(0.6rem, 3vw, 0.8rem);
  }
  .footer-partners{
    display: none;
  }
  .footer-partners-horizontal{
    display: flex;
    gap: 1rem;
  }
  .footer-items{
    padding-inline: 2rem;
  }

  .footer-letstalk{
    display: none;
  }

  .footer-bottom-right{
    padding-block:2rem;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
  .footer-social-links{
    gap:0.5rem;

  }
  .footer-social-links a i{
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1024px){
  menu{
    display: flex;
  }
}
